<marmeto-product-card class="product-card" data-product-handle="{{product.handle}}">
  <div class="product-card__wrap isolate">
    {%- liquid
      assign current_variant = product.selected_or_first_available_variant
      assign price = current_variant.price
      assign compare_at_price = current_variant.compare_at_price    
      assign available = current_variant.available | default: false
      assign featured_media = product.featured_media

      if current_variant.image != nil
        assign featured_media = current_variant.image
      endif
    -%}
    
    
      <a href="{{ product.url }}" 
         class="media media--portrait"
         style="padding-bottom: 150%;">
         {% render 'lazy-image' , src: featured_media %}
      </a>
    
    
    <div class="product-card__badges absolute">
      {%- if current_variant.available == false -%}
        <span class="badge badge--soldout" aria-hidden="true">
          Sold Out
        </span>
      {%- elsif current_variant.compare_at_price > current_variant.price and current_variant.available -%}
        <span class="badge badge--onsale" aria-hidden="true">
          On Sale
        </span>
      {%- endif -%}
    </div>
  </div>
  
  <div class="product-card__info">
    <a href="{{ product.url }}" class="product-card__title">
      {{ product.title }}
    </a>

    <!-- <div class="product-card__meta {% unless current_variant.metafields.custom.variant_info %}is--hidden{% endunless %}">
      {{ current_variant.metafields.custom.variant_info }}
    </div> -->
    
    <div class="product-card__prices mt-1 ">  
      <span class="product-card__price{% if compare_at_price > price %} on-sale{% endif %}">
        {{ price | money_without_trailing_zeros }}
      </span>            
      <span class="product-card__compareprice{% unless compare_at_price > price %} hidden{% endunless %}">
        {{ compare_at_price | money_without_trailing_zeros }}
      </span>
    </div>

    {% unless product.has_only_default_variant %}
      <div class="field mt-1">
        <select name="id" class="product-card__options select__select">
          {% for variant in product.variants %}
          <option value="{{ variant.id }}" {% if variant.id == current_variant.id %}selected{% endif %}>{{ variant.title }}</option>            {% endfor %}
        </select>
      </div> 
    {% else %}
      <input type="hidden" name="id" value="{{ current_variant.id }}">
    {% endunless %}

    <div class="product-card__action mt-1">
      <button type="button" name="add"  class="button">Add to Bag</button>
    </div>
  </div>

</marmeto-product-card>