
{% stylesheet %}
.logo_alignment--left{
  order:0;
}
.logo_alignment--center{

  order:1;

}
.sticky-header.add-shadow{
  -webkit-box-shadow: -3px 4px 11px -7px rgba(64,46,50,1);
  -moz-box-shadow: -3px 4px 11px -7px rgba(64,46,50,1);
  box-shadow: -3px 4px 11px -7px rgba(64,46,50,1);
}

{% endstylesheet %}


<header class="header page-width" role="banner">


  
           <!-- LOGO PART -->
           <div class="header__logo logo_alignment--{{ section.settings.logo_position }}">
            {% if section.settings.logo != nil %}
     
            <a href="/" class="header__logo-link">
             <img class="header__logo-image" loading="lazy" src="{{  section.settings.logo | img_url: 'medium'}}"  alt="logo" width="{{ section.settings.logo_size_range }}px"/>
           </a>
             
            {% endif %}
           </div>

          <!-- ham btn  -->
          <div href="#" class="toggle-button">
            {% render 'icon-hamburger' %}
          </div>
    
           <!-- Middle PART -->
           <nav id="myLinks" class="header__navigation" role="navigation">
             <ul class="header__list">
               {% for link in linklists['main-menu'].links %}
               <li class="header__list-item">
                     <a href="{{ link.url }}" class="nav_link">{{ link.title }}</a>                      
               </li>
               {% endfor %}
             </ul>
           </nav>
          
           <!-- SECONDARY LINK PART -->
           <div class="header__secondary-link">
             <div class="header__icon-list">
              <div class="header_icon header__icon link focus-inset">
                <a href="{{ routes.search_url }}">

               {% render 'icon-zoom-m' %}

                </a>
              </div>
              <div class="header_icon header__icon header__icon--account link focus-inset">

                <a href="{{ routes.account_url }}">

                 {% render 'icon-person-m' %}
                  </a>
               </div>
               <div class="header_icon">
                <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
                  {%- liquid
                    if cart == empty
                      render 'icon-cart-empty'
                    else
                      render 'icon-cart'
                    endif
                  -%}
                  <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                  {%- if cart != empty -%}
                    <div class="cart-count-bubble">
                      {%- if cart.item_count < 100 -%}
                        <span aria-hidden="true">{{ cart.item_count }}</span>
                      {%- endif -%}
                      <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                    </div>
                  {%- endif -%}
                </a>
              
               </div>
              
              
             </div>
           </div>
            
          
</header>

<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */

  const toggleButton = document.getElementsByClassName('toggle-button')[0]
  const headerNavigation = document.getElementsByClassName('header__navigation')[0]

  toggleButton.addEventListener('click', () => {
    headerNavigation.classList.toggle('active')
  })

  // on scroll having a box shadow



    window.addEventListener('scroll',  (e)=> {

      const nav = document.getElementsByClassName('sticky-header')[0];
      if (window.pageYOffset>0) {

        nav.classList.add('add-shadow');
        
      }
      else{
        nav.classList.remove('add-shadow');
      }
    });

      

 
</script>
  
  
   
{% schema %}
{
    "name": "Header",
    "tag": "section",
    "class": "sticky-header",
    "settings": [
      {
        "type": "header",
        "content": "Header Settings"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo",
        "info": "50 px (width) x 100 px (height) "
      },
      {
        "type": "range",
        "id": "logo_size_range",
        "min": 200,
        "max": 300,
        "step": 25,
        "unit": "px",
        "label": "Logo  Size",
        "default": 200
      },
      {
        "type": "select",
        "id": "logo_position",
        "label":"Logo Position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
         
        ],
        "default": "left"
       
      },
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "t:sections.header.settings.menu.label"
      }
    ]
    
   
  }
{% endschema %}