{% stylesheet %}
.sticky-header.add-shadow{
  -webkit-box-shadow: -3px 4px 11px -7px rgba(64,46,50,1);
  -moz-box-shadow: -3px 4px 11px -7px rgba(64,46,50,1);
  box-shadow: -3px 4px 11px -7px rgba(64,46,50,1);
}
{% endstylesheet %}

<header class="dm-header">
  <a type="button" class="dm-header__hamburger " id="js-hambuger">
    {% render 'icon-hamburger'%}
  </a>
  <nav class="dm-header__nav">
     <ul>
        {%- for link in section.settings.menu.links -%}
          <li class="dm-header__nav-link">
              <a href="{{link.url }}" class="header_container_navigation_list_link">
                  {{link.title}}
              </a>
          </li>
          {% endfor %}
     </ul>
  </nav>
  <nav class="dm-header__mobilenav" id="mobilenav">
     <ul>
       {%- for link in section.settings.menu.links -%}
       <li class="dm-header__nav-link">
           <a href="{{link.url }}" class="header_container_navigation_list_link">
               {{link.title}}
           </a>
       </li>
       {% endfor %}
     </ul>
  </nav>
  <div class="header_wrapper">
     <a class="dm-header__logo" href="/">

    {% render 'lazy-image', src: section.settings.logo  %}

      
  </a>
</div>
<div class="dm-header__action">
  <a class="dm-header__action-link" href="{{ routes.search_url }}">
     {% render 'icon-zoom-m'%}
    </a>
    <a class="dm-header__action-link" href="{{ routes.account_url }}">
       {% render 'icon-person-m'%}
    </a>

    <a type="button" class="dm-header__action-link" id="cart-button" href="{{ routes.cart_url }}">
      
       {% render 'icon-cart-m'%}
     

        </a>
</div>
</header>
<script >
var cart_button = document.getElementById('cart-button');
var cart_menu = document.getElementById('container');
cart_button.addEventListener('click', function() {
console.log("hello")
if(cart_menu.style.transform == "translate(0%)" )
{
  cart_menu.style.transform= "translate(100%)";
  cart_menu.style.display="none";
}
else
{
  cart_menu.style.transform= "translate(0%)";
  cart_menu.style.display="block";
}
});
let hambuger_button=document.getElementById("js-hambuger");
hambuger_button.addEventListener('click',function () {
let menu=document.getElementById("mobilenav");
console.log("menu");
if(menu.style.transform == "translate(-100%)" )
{
  menu.style.transform= "translate(0%)";
}
else
{
  menu.style.transform= "translate(-100%)";
}
})

 // on scroll having a box shadow



 window.addEventListener('scroll',  (e)=> {

const nav = document.getElementsByClassName('sticky-header')[0];
if (window.pageYOffset>0) {

  nav.classList.add('add-shadow');
  
}
else{
  nav.classList.remove('add-shadow');
}
});
</script>
{% schema %}
{
  "name": "Header",
  "tag": "section",
  "class": "sticky-header",
  "settings": [
    {
      "type": "header",
      "content": "Header Settings"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "50 px (width) x 100 px (height) "
    },
  
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    }
  ]
  
}
{% endschema %}


