<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">

{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

{% stylesheet %}

.sticky-header.add-shadow{
  -webkit-box-shadow: -3px 4px 11px -7px rgba(64,46,50,1);
  -moz-box-shadow: -3px 4px 11px -7px rgba(64,46,50,1);
  box-shadow: -3px 4px 11px -7px rgba(64,46,50,1);
}
{% endstylesheet %}

<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<header class="dm-header page-width">
  <a type="button" class="dm-header__hamburger " id="js-hambuger">
    {% render 'icon-hamburger'%}
  </a>
  <nav class="dm-header__nav">
     <ul>
        {%- for link in section.settings.menu.links -%}
          <li class="dm-header__nav-link">
              <a href="{{link.url }}" class="header_container_navigation_list_link">
                  {{link.title}}
              </a>
          </li>
          {% endfor %}
     </ul>
  </nav>
  <nav class="dm-header__mobilenav" id="mobilenav">
     <ul>
       {%- for link in section.settings.menu.links -%}
       <li class="dm-header__nav-link">
           <a href="{{link.url }}" class="header_container_navigation_list_link">
               {{link.title}}
           </a>
       </li>
       {% endfor %}
     </ul>
  </nav>
  <div class="header_wrapper">
     <a class="dm-header__logo" href="/">

    {% render 'lazy-image', src: section.settings.logo  %}

      
  </a>
</div>
<div class="dm-header__action">
  <a class="dm-header__action-link" href="{{ routes.search_url }}">
     {% render 'icon-zoom-m'%}
    </a>
    <a class="dm-header__action-link" href="{{ routes.account_url }}">
       {% render 'icon-person-m'%}
    </a>

    <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {%- render 'icon-cart-m'-%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>

</div>
</header>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
{%- endif -%}

<script >
var cart_button = document.getElementById('cart-button');
var cart_menu = document.getElementById('container');
cart_button.addEventListener('click', function() {
console.log("hello")
if(cart_menu.style.transform == "translate(0%)" )
{
  cart_menu.style.transform= "translate(100%)";
  cart_menu.style.display="none";
}
else
{
  cart_menu.style.transform= "translate(0%)";
  cart_menu.style.display="block";
}
});
let hambuger_button=document.getElementById("js-hambuger");
hambuger_button.addEventListener('click',function () {
let menu=document.getElementById("mobilenav");
console.log("menu");
if(menu.style.transform == "translate(-100%)" )
{
  menu.style.transform= "translate(0%)";
}
else
{
  menu.style.transform= "translate(-100%)";
}
})

 // on scroll having a box shadow



 window.addEventListener('scroll',  (e)=> {

const nav = document.getElementsByClassName('sticky-header')[0];
if (window.pageYOffset>0) {

  nav.classList.add('add-shadow');
  
}
else{
  nav.classList.remove('add-shadow');
}
});
</script>
{% schema %}
{
  "name": "Header",
  "tag": "section",
  "class": "sticky-header",
  "settings": [
    {
      "type": "header",
      "content": "Header Settings"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "50 px (width) x 100 px (height) "
    },
  
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    }
  ]
  
}
{% endschema %}


