<div class="isolate">
  <div class="image-overlay__wrap">
    {% render 'lazy-image', src: section.settings.image_desktop, width: "large", class: "small-hide" %}
    {% render 'lazy-image', src: section.settings.image_mobile, width: "small", class: "medium-hide large-up-hide" %}
  </div>

  <div class="image-overlay__content">
    <div class="page-width">
      <div class="image-overlay__flex {{ section.settings.content_alignment }}">
        <div class="image-overlay__flexitem {{ section.settings.text_alignment }}">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'caption' %}
                {%- if block.settings.caption != blank -%}                    
                  <div class="caption font-white">
                    {{ block.settings.caption }}
                  </div>                    
                {%- endif -%}
              {% when 'heading' %}
                {%- if block.settings.heading != blank -%}                    
                  <div class="h2 font-white">
                    {{ block.settings.heading }}
                  </div>                    
                {%- endif -%}
              {% when 'paragraph' %}
                {%- if block.settings.paragraph != blank -%}                    
                  <div class="font-white text-body">
                    {{ block.settings.paragraph }}
                  </div>                    
                {%- endif -%}
              {% when 'button' %}                             
                <div class="image-overlay__buttons">
                  <div class="grid">
                  {%- if block.settings.first_button_text != blank and block.settings.first_button_link != blank -%}
                    <a href="{{ block.settings.first_button_link }}" class="button p-0 grid__item button--{{ block.settings.first_button_type }}">
                      {{ block.settings.first_button_text }}
                    </a>
                  {%- endif -%}
                  {%- if block.settings.second_button_text != blank and block.settings.second_button_link != blank -%}
                    <a href="{{ block.settings.second_button_link }}" class="button p-0 grid__item button--{{ block.settings.second_button_type }}">
                      {{ block.settings.second_button_text }}
                    </a>
                  {%- endif -%}
                </div>    
                </div>    
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- notify -->
{% if section.settings.notify_check %}
    
<div class="notify-bar center">


  {% if section.settings.notify_text != blank %}

  <div>

      {{ section.settings.notify_text | replace: '<a', '<a class="link"' }}

  </div>
  {% endif %}
</div>
{% endif %}


{% schema %}
{
  "name": "Custom Image Overlay",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "IMAGE SETTINGS"
    },
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "Image",
      "info": "800x600 jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image ( Mobile )",
      "info": "400x600 jpg recommended"
    },
    {
      "type": "header",
      "content": "Notify bar SETTINGS"
    },
   {
    "type": "checkbox",
    "id": "notify_check",
    "label": "Notification Bar",
    "default": true,
    "info": "Uncheck to turn of notify bar"
   },
  {
    "type": "richtext",
    "id": "notify_text",
    "label": "Notification Text"
  },
    {
      "type": "header",
      "content": "ALIGNMENT SETTINGS"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Content alignment",
      "options": [
        {
          "value": "align-start justify-start",
          "label": "Top left"
        },
        {
          "value": "align-start justify-center",
          "label": "Top left"
        },
        {
          "value": "align-start justify-end",
          "label": "Top Right"
        },
        {
          "value": "align-center justify-start",
          "label": "Middle left"
        },
        {
          "value": "align-center justify-center",
          "label": "Middle center"
        },
        {
          "value": "align-center justify-end",
          "label": "Middle right"
        },
        {
          "value": "align-end justify-start",
          "label": "Bottom left"
        },
        {
          "value": "align-end justify-center",
          "label": "Bottom center"
        },
        {
          "value": "align-end justify-end",
          "label": "Bottom right"
        }
      ],
      "default": "align-center justify-center"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    }
  ],
  "blocks": [
    {
      "name": "Caption",
      "type": "caption",
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "label": "Text"
        }
      ]
    },
    {
      "name": "Heading",
      "type": "heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Text"
        }
      ]
    },
    {
      "name": "Paragraph",
      "type": "paragraph",
      "settings": [
        {
          "type": "richtext",
          "id": "paragraph",
          "label": "Text"
        }
      ]
    },
    {
      "name": "Button",
      "type": "button",
      "settings": [
        {
          "type": "header",
          "content": "First button"
        },
        {
          "type": "text",
          "id": "first_button_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "first_button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "first_button_type",
          "label": "Button type",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ],
          "default": "primary"
        },
        {
          "type": "header",
          "content": "Second button"
        },
        {
          "type": "text",
          "id": "second_button_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "second_button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "second_button_type",
          "label": "Button type",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ],
          "default": "primary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Image Overlay"
    }
  ]
}
{% endschema %}