
<div class="isolate">

    {% if section.settings.image != blank  %}
    <div class="no-l-height">
    
            {% render 'lazy-image', src: section.settings.image, width: "large", class:"dm-custom-image--image small-hide" %}
            {% render 'lazy-image', src: section.settings.image_mobile, width: "large", class:"medium-hide large-up-hide dm-custom-image--image" %}
    </div>
    {% else %}
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}



<div class="text-overlay-content-wrap">

  <div class="page-width full-height">

    <div class="text-overlay-flex">

       <div class="text-overlay-flex-item">

        {% if section.settings.heading != blank %}
        <div class="overlay-heading hxl font-body-bold no-pad page-width">
            {{ section.settings.heading }}
        </div>
        {% endif %}
        {% if section.settings.paragraph != blank %}
        <div class="overlay-paragraph subtitle no-pad page-width">
            {{ section.settings.paragraph }}
        </div>
        {% endif %}
        <div class="button_group">
        {% if section.settings.button_text != blank and section.settings.button_url != blank %}

        <a href="{{ section.settings.button_url }}" class="button overlay-button">{{ section.settings.button_text }}</a>

        {% endif %}
        {% if section.settings.button_text_2 != blank and section.settings.button_url_2 != blank %}

        <a href="{{ section.settings.button_url_2 }}" class="button overlay-button">{{ section.settings.button_text_2 }}</a>

        {% endif %}

       </div>
       </div>

    </div>

  </div>

</div>

{% if section.settings.notify_check %}
    
<div class="notify-bar center">


  {% if section.settings.notify_text != blank %}

  <div>

      {{ section.settings.notify_text | replace: '<a', '<a class="link"' }}

  </div>
  {% endif %}
  {% endif %}
</div>


</div>



{% schema %}
{
"name": "Image With TextOverlay",
"tag":"section",
"class": "section",
"settings": [

{
"type": "header",
"content": "Image Settings"
},

{
"type": "image_picker",
"id": "image",
"label": "Image",
"info": "600 * 1080 recommended"
},
{
"type": "image_picker",
"id": "image_mobile",
"label": "Image ( Mobile )",
"info": "600 * 400 recommended"
},
{
"type": "header",
"content": "Text Settings"

},

{
"type": "text",
"id": "heading",
"label": "Heading",
"default": "Heading"
},
{
"type": "richtext",
"id": "paragraph",
"label": "Paragraph",
"default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, vitae?</p>"

},
{
"type": "header",
"content": "Button Settings"

},
{
"type": "text",
"id": "button_text",
"label": "Button Text",
"default": "Button"
},
{
"type": "url",
"id": "button_url",
"label": "Button Link"
},
{
"type": "text",
"id": "button_text_2",
"label": "Button Text",
"default": "Button"
},
{
"type": "url",
"id": "button_url_2",
"label": "Button Link"
},
{
"type": "header",
"content": "Notification Bar Settings"

},
{
"type": "checkbox",
"id": "notify_check",
"label": "Show Notification Bar",
"default": true,
"info": "Uncheck this to hide notification bar"
},

{
"type": "richtext",
"id": "notify_text",
"label": "Notification",
"default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, molestias!</p>",
"info": "Select text to Insert link"
}


],
"presets": [
{
"category": "image",
"name":"Image With Text Overlay"
}
]
}
{% endschema %}